
.Card-Movie {
    display: flex;
    width: 300px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    margin: 20px 0 0 20px;
}      
.Card-Content {
    display: flex;
    flex: 1;
    flex-direction: column;
}  
.Card-handle {
    flex-direction: row;
}
.Movie-Title {
    flex: 1; 
    font-weight: bold;
    font-size: 20px;
}

.Circle-Button.c-red {
    color: red; 
}
.Movie-Category {
    font-style: italic;
}

.Move-Like-Dislike {
    margin: 10px 0;
    flex-direction: row;
}
.Movie-Stats {
    flex-direction: column;
    flex: 1;
}
.Movie-Stats div {
    margin: 4px 0
}

.LikeButton-Container {
    width: 100px;
    justify-content: end;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait)
,(min-device-width : 768px) and (max-device-width : 1024px) and ( -webkit-min-device-pixel-ratio: 1 ) and (orientation: portrait) ,
 (max-width : 680px)
{
    .Card-Movie {
        width: 100%;
        margin: 20px 20px 0 20px; 
    }

}