.Like-Button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    
}
.c-red {
    color: red; 
}
.c-black {
    color: black;
}

.UnLicked-Icon {
    display: flex;
    height: 1em;
    line-height: 1em;
    position: relative;
    vertical-align: middle;
    width: 2em;
    align-items: center;
}

.DisLiked {
    display: grid;
}

.LikeButton-Container {
    align-items: flex-end;
    text-align: right;
    justify-content: start;
}
.LikeButton-text {
    font-size: 10px;
}