
.Pagination-Container {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

.Pagination-Nav{
    display: flex;
    padding: 20px;
    background-color: #eee;
    border-radius: 8px;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Pagination-Nav:hover {
    background-color: #999;
}