.Select-Container {
    display: flex;
    flex: 1 ;
    min-height: 30px;
    position: relative;
}
.Select-Container.left{
    justify-content: start;
}
.Select-Container.right{
    justify-content: flex-end;
}

.Select-Content {
    display: flex;
    flex: 1 ;
    min-height: 30px;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #eee;
}
.Select-Handle {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: relative;
}
.Select-List {
    display: flex;
    min-height: 100px;
    padding: 0 10px;
    flex-direction: column;

}
.Select-Choice {
    display: flex;
    height: 30px;
    padding: 10px 0;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}
.Select-Choice span {
    display: flex;
    flex: 1;
}

.Select-Choice:last-child {
    border-bottom: none;
}
.Select-Choice:hover {
    font-weight: bold;
}

.Select-Text {
    margin: 0 10px;
}
.Select-PlaceHolder{
    color: #999;

}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait)
,(min-device-width : 768px) and (max-device-width : 1024px) and ( -webkit-min-device-pixel-ratio: 1 ) and (orientation: portrait) ,
(max-width : 680px)
{
    .Select-Container.right {
        justify-content: start;
    }
}