body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, .flex  {
  display: flex;
}
.flexOne {
  flex: 1;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.box-center {
  justify-content: center;
  align-items: center;
}



#root {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;

}


.Circle-Button {
  display: flex; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 0px solid #ccc; 
  cursor: pointer;
}