#header {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #000;
}

#filter-tab {
    height: 50px;
    padding: 20px;
    position: relative;
    z-index: 2;
}
#filter-tab .filter {
    position: relative;
}
#filter-tab .filter:last-child {
    justify-content: end;
}

#MoviesListing {
    padding: 0px;
    border-top: 1px solid #eee;
    margin-top: 20px;
    width: calc( 100vw - 40px );
    flex-wrap: wrap;
}
.Loader {
    margin-top: 100px;
    align-self: center;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait)
,(min-device-width : 768px) and (max-device-width : 1024px) and ( -webkit-min-device-pixel-ratio: 1 ) and (orientation: portrait) ,
 (max-width : 680px)
{
    #MoviesListing  {
        width: 100vw; 
    }
    #filter-tab {
        flex-direction: column !important;
        height: fit-content; 
    }
    #filter-tab .filter {
        display: block;
        
    }
    #filter-tab .filter:first-child {
        margin-bottom: 30px;
        position: relative;
        z-index: 3;
    }
}